.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 6px;
    font-size: 80%;
}

.wrapper {
    width: 60%;
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: row;
}

.cas {
    margin: auto;
}